<h1>Tournaments</h1>
<%= link_to "Add Tournament", new_tournament_path %>
<br/>
<br/>
<% @tournaments.each do |tournament| %>
  <%= link_to tournament.name, tournament_path(tournament) %>
  <br/>
  Status: <%= tournament.stage %>
  <br/>
  <%= button_to 'Delete', tournament, method: :delete,
                form: {data: {turbo_confirm: 'Are you sure?'}} %>
  <br/>
  <br/>
<% end %>